<mat-toolbar color="primary">
  <span class="logo">PhyloTree Builder</span>
  
  <span class="spacer"></span>
  
  <div class="mode-toggle">
    <mat-button-toggle-group 
      [value]="currentMode()" 
      (change)="onModeChange($event.value)"
      appearance="standard">
      <mat-button-toggle value="author">
        <mat-icon>edit</mat-icon>
        Author
      </mat-button-toggle>
      <mat-button-toggle value="presentation">
        <mat-icon>present_to_all</mat-icon>
        Presentation
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
  <span class="spacer"></span>
  
  <div class="action-buttons">
    <button mat-button (click)="openAboutModal()">
      About
    </button>
    <a href="https://github.com/kaorun343/phylotree-builder" target="_blank" mat-button>
      GitHub
    </a>
  </div>
</mat-toolbar>
