.spacer {
  flex: 1 1 auto;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 1rem;
}

.nav-section {
  display: flex;
  gap: 0.5rem;
}

.action-buttons {
  display: flex;
  gap: 0.25rem;
}
