<mat-toolbar color="primary">
  <span class="logo">PhyloTree Builder</span>
  
  <span class="spacer"></span>
  
  <div class="nav-section">
    <button mat-button>File</button>
    <button mat-button>Edit</button>
    <button mat-button>View</button>
  </div>
  
  <span class="spacer"></span>
  
  <div class="action-buttons">
    <button mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
